<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ page.title }} | Rodrigue Daassi</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/academicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ site.baseurl }}/en{{ page.url | remove_first: '/fr' }}" />
</head>
<body>
<div id="wrapper">
    <header>
        <a href="javascript:void(0);" id="mobileMenu" class="icon" onclick="myMenu()" aria-label="Menu Mobile">
            <i class="fa fa-bars"></i> Menu
        </a>
        <nav class="Menu" id="Menu">
            <div class="Menuleft" id="Menuleft">
                <h1><a href="{{ site.baseurl }}/fr/about">Rodrigue Daassi</a></h1>
            </div>
            <div class="Menuright" id="Menuright">
                <a id='home' href="{{ site.baseurl }}/fr/"><i class="fa fa-fw fa-home"></i>Accueil</a>
                <a id='about' href="{{ site.baseurl }}/fr/about">À Propos de Moi</a>
                <a id='research' href="{{ site.baseurl }}/fr/research">Recherche</a>
                <a id='hobbies' href="{{ site.baseurl }}/fr/hobbies">Loisirs</a>
                <div class="language-switch">
                    <a href="{{ site.baseurl }}/en/" aria-label="English version">EN</a> | <a href="{{ site.baseurl }}/fr/" aria-label="Version française">FR</a>
                </div>
            </div>
        </nav>
    </header>
    <main id="Main">
        {{ content }}
    </main>
    <footer id="footer">
        <div class="foot leftfoot">
            <ul>
                <li><p>Email : <a href="mailto:{{ site.email }}">{{ site.email }}</a></p></li>
                <li><p>Affiliations : <a href="{{ site.affiliation_url }}" target="_blank">{{ site.affiliation_name }}</a></p></li>
            </ul>
        </div>
        <div class="mobileShow foot centerfoot">
            <p></p>
        </div>
        <div class="foot rightfoot">
            <p>Tous droits réservés © {{ site.time | date: '%Y' }} Rodrigue Daassi</p>
        </div>
    </footer>
</div>
<script src="{{ site.baseurl }}/js/script.js"></script>
</body>
</html>
